<nav class="bottom-nav">



    <a href="home.html"
    class="active">


        <i class="bi bi-house-fill"></i>


        <span>
            Home
        </span>


    </a>





    <a href="workouts.html">


        <i class="bi bi-lightning-charge-fill"></i>


        <span>
            Workouts
        </span>


    </a>






    <a href="library.html">


        <i class="bi bi-journal-text"></i>


        <span>
            Library
        </span>


    </a>






    <a href="progress.html">


        <i class="bi bi-bar-chart-fill"></i>


        <span>
            Progress
        </span>


    </a>







    <a href="settings.html">


        <i class="bi bi-gear-fill"></i>


        <span>
            Settings
        </span>


    </a>



</nav>