<header class="navbar" >


    <div class="nav-left lift">


        <a href="home.html"
        class="logo">

            <i class="bi bi-activity"></i>

            <span>
                LiftLog
            </span>

        </a>


    </div>

    <div class="nav-left">


    <button
        class="back-btn"
        onclick="history.back()">

        <i class="bi bi-arrow-left"></i>

    </button>



    </div>



    <div class="nav-right">


        <a href="settings.html"
        class="avatar-btn"
        id="profileButton">


            <span id="headerAvatar"
            class="avatar flex-center">

                G

            </span>


        </a>


    </div>


</header>
